<p>This -->
<select (change)="onChange($event.target.value)">
    <option value="all" selected="selected">Both</option>
    <option value="Jack">Jack</option>
    <option value="Ralph">Ralph</option>
</select> selector will filter castaways by their allegance to either Ralph, Jack, or both.</p>


<div class="well">
    <div *ngFor="let castaway of castaways | async | ally:filteredByAlly">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Name:  {{castaway.name}}<br>Age:  {{castaway.age}}</h3>
            <button (click)="goToDetailPage(castaway)">Details</button>
            <div *ngIf="currentRoute === '/admin'">
              <app-edit-castaway [selectedCastaway]="castaway"></app-edit-castaway>
            </div>
          </div>
        </div>
      </div>
  </div>
