<div class="panel-body">
  <h3>  Name:  {{(castawayToDisplay | async)?.name}}<br>
        Age:  {{(castawayToDisplay | async)?.age}}<br>
        Alliance:  {{(castawayToDisplay | async)?.alliance}}<br>
        Eye Color:  {{(castawayToDisplay | async)?.eyeColor}}<br>
        Hair Color:  {{(castawayToDisplay | async)?.hairColor}}<br>
        Height:  {{(castawayToDisplay | async)?.heightFeet}}"{{(castawayToDisplay | async)?.heightInches}}'<br>
        Weight:  {{(castawayToDisplay | async)?.weight}} lbs<br>
        Prone to violence:  {{(castawayToDisplay | async)?.violent}}<br>
        Intelligence level  {{(castawayToDisplay | async)?.intelligence}}/10<br>
  </h3>
</div>
