/*export var masterFirebaseConfig = {
    apiKey: "AIzaSyCKhb3_5gKLpMBZ4T5mf1UxDebnvUk7P-8",
    authDomain: "electric-conch.firebaseapp.com",
    databaseURL: "https://electric-conch.firebaseio.com",
    projectId: "electric-conch",
    storageBucket: "electric-conch.appspot.com",
    messagingSenderId: "1064734486663"
  };*/
